In [ ]:
# importando pandas
import pandas as pd

In [10]:
# importando a base de treino
treino = pd.read_csv('./csv/casas_treino.csv')
treino = treino.drop('Unnamed: 0', axis=1)
treino.head(2)

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,5088,0.9809,19.0,3.187726,1.129964,726.0,2.620939,33.98,-118.28,1.214
1,17096,4.2232,33.0,6.189696,1.086651,1015.0,2.377049,37.46,-122.23,3.637

In [11]:
# visualizando as 3 primeiras linhas
treino.head(3)

In [12]:
# separando X e v
#x = treino.drop()